<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.doctor.yuyi">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <!-- 分享需要的权限 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />

    <application
        android:name=".mApplication.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activity.StartActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.MainActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".activity.InformationMessageActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.My_setting_about_Activity"
            android:launchMode="singleTop" />
        <activity
            android:name=".activity.My_setting_Activity"
            android:launchMode="singleTop" />
        <activity
            android:name=".activity.My_setting_feadus_Activity"
            android:launchMode="singleTop" />
        <activity
            android:name=".activity.My_setting_contactus_Activity"
            android:launchMode="singleTop" />
        <activity android:name=".activity.My_message_Activity" />
        <activity android:name=".activity.My_message_notification_Activity" />
        <activity android:name=".activity.My_forumPosts_Activity" />
        <activity android:name=".activity.My_praise_Activity" />
        <activity android:name=".activity.My_patientDataList_Activity" />
        <activity android:name=".activity.My_registration_Activity" />
        <activity android:name=".activity.My_registration_Info_Activity" />
        <activity android:name=".activity.Login_Activity" />
        <activity
            android:name=".activity.UserInfo_Activity"
            android:launchMode="singleTop" />
        <activity
            android:name=".activity.PostActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.CommentInformationActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name=".activity.CardMessageActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize" />

        <!-- 微博分享Activity -->

        <activity
            android:name=".WBShareActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="com.sina.weibo.sdk.action.ACTION_SDK_REQ_ACTIVITY" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <!-- 微信分享Activity -->
        <activity
            android:name=".wxapi.WXEntryActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <!-- qq分享Activity -->

        <activity
            android:name="com.tencent.tauth.AuthActivity"
            android:launchMode="singleTask"
            android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="tencent100424468" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.tencent.connect.common.AssistActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <!-- 友盟appkey -->
        <meta-data
            android:name="UMENG_APPKEY"
            android:value="58de0afeae1bf87e27001806"></meta-data>

        <activity android:name=".activity.PatientMessageActivity"></activity>
    </application>

</manifest>