<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.doctor.yuyi">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activity.StartActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.InformationMessageActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.My_setting_about_Activity"
            android:launchMode="singleTop" />
        <activity
            android:name=".activity.My_setting_Activity"
            android:launchMode="singleTop" />
        <activity
            android:name=".activity.My_setting_feadus_Activity"
            android:launchMode="singleTop" />
        <activity
            android:name=".activity.My_setting_contactus_Activity"
            android:launchMode="singleTop" />
        <activity android:name=".activity.My_message_Activity" />
        <activity android:name=".activity.My_message_notification_Activity" />
        <activity android:name=".activity.My_forumPosts_Activity" />
        <activity android:name=".activity.My_praise_Activity" />
        <activity android:name=".activity.My_patientDataList_Activity" />
        <activity android:name=".activity.My_registration_Activity" />
        <activity android:name=".activity.My_registration_Info_Activity" />
        <activity
            android:name=".activity.PostActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.CommentInformationActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize">

        </activity>
        <activity
            android:name=".activity.CardMessageActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize">

        </activity>
    </application>

</manifest>